/* global.css */
nav {
  background-color: #333;
  color: white;
  text-align: center; 
}

ul, .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li, .navbar ul li {
  display: inline;
  margin: 0 10px;
  font-size: 20px;
}

a, .navbar ul li a {
  text-decoration: none;
  color: white;
}

a:hover, .navbar ul li a:hover {
  text-decoration: none;
}
h1 {
  text-align: center;
}
